<!DOCTYPE html>
<html>
<head>
    <title>Tes HTML Tahap 1</title>
</head>
<body>
    <h1>Tes HTML Tahap 1</h1>
    <p>Nama: {{ nama }}</p>
    <p>Kelas: {{ kelas }}</p>
    <p>Silahkan di Screenshot!</p>
</body>
</html>
